.block {
  display: flex;
  align-items: center;
}
.block:not(:last-child) {
  margin-bottom: 30px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.input {
  border: 2px solid rgb(17, 1, 70);
  height: 24px;
  margin-right: 20px;
  font-size: 16px;
}
