.title {
  margin: 0 0 30px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.section {
  margin: 0;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(17, 1, 70, 0.5), 3px 6px 9px rgba(17, 1, 70, 0.3);
  border: 3px solid rgb(17, 1, 70);
}
.section:first-child {
  height: 280px;
}
.section:last-child {
  position: relative;
  width: 500px;
}
